*{
  margin: 0;
  padding: 0;
}

$backGroundBlack: #000;
$fontColorWhite: #fff;
$fontFamilyDefault: 'Roboto', sans-serif;

body{
  background: $backGroundBlack;
  color: $fontColorWhite;
  font-family: $fontFamilyDefault;
}

h1, h2, h3, h4{
  font-family: $fontFamilyDefault;
}